@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");

body {
  background: #f9f7cf;
}

#event-page {
  h4,
  h2 {
    font-family: "Dancing Script";
  }

  h2 {
    font-size: 42px;
  }
}
